<h1>Welcome to Loan Management</h1>
<h2> interest calculator</h2>
<div>
  <form action="/calculator" method="post">
    <div class="form-inline">
       <label for="amnt">Amount:</label>
       <input id="amnt" name="amnt" class="form-control" type="text">
    </div>
    <br >
    <div class="form-inline">
       <label for="months">No. of months:</label>
       <input id="months" name="months" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form> 
</div>
<br>
<%#<div>
  <a href="/request/new"><button class="btn btn-primary">REQUST LOAN</button></a> <br><br>
  <a href="/offer/new"><button class="btn btn-primary">OFFER LOAN</button></a>
</div>%>
<div>
 <a href="/users"><button class"btn btn-primary">Select user:</button></a>
  <a href="/users/new"><button class"btn btn-primary">create New Account</button></a>
 </div>
